/* start of general */

body {
    color: #531D40;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Merriweather', sans-serif;
    line-height: 2;
    color: black;
}

a {
    text-decoration: none;
    color: rgb(150, 29, 108);
}


/* end of general */


/* start of top box */

nav {
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #13103c;
}

.top-box {
    background-color: #FFE3DC;
    text-align: center;
    position: relative;
    padding: 40px 0 0;
}

.top-cloud {
    position: absolute;
    right: 150px;
    margin-top: 100px;
    width: 200px;
}

.my-name {
    margin-bottom: 10px;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
}

.about-me-description {
    margin-bottom: 350px;
}

.balloon-image {
    position: absolute;
    left: calc(50% - 70.5px);
    bottom: 200px;
    animation-name: balloon-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes balloon-animation {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 210px;
    }
    100% {
        bottom: 200px;
    }
}

.bottom-cloud {
    position: absolute;
    left: 150px;
    bottom: 300px;
    width: 150px;
}

.ground {
    width: 700px;
    max-width: 100%;
    margin-bottom: -4px;
}


/* end of top box */


/* start of middle box */


/* end of middle box */


/* start of slide show */

.slideshow {
    text-align: center;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #531D40;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: #FFE3DC;
}


/* Caption text */

.text {
    color: #531D40;
    background-color: rgba(228, 204, 204, 0.6);
    font-weight: bold;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* end of slide show */


/* start of bottom box */

.bottom-box {
    background-color: #FFE3DC;
    padding: 70px 0 10px 0;
    text-align: center;
}

.contact-me {
    margin: 10px 70px;
    height: 30px;
}

.inline {
    display: inline;
}

.contact-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* end of bottom box */

.my-description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-holder {
    background-color: #FFE3DC;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin-top: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(150, 29, 108);
}

.code-font {
    font-family: 'Press Start 2P', cursive;
}

.middle-box {
    margin-top: 70px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .middle-box {
        width: 80%;
    }
}

.avatar {
    border-radius: 50%;
}

.horizontal-ruler {
    height: 0;
    border-style: dotted none none none;
    border-width: 10px;
    width: 50px;
}

.spacing {
    height: 50px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-align-left {
    text-align: left;
}

.margin-right {
    margin-right: 50px;
}

.margin-left {
    margin-left: 50px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.copyrights {
    color: rgb(150, 29, 108);
    font-size: 14px;
    margin-top: 30px;
}

.myButton {
    box-shadow: inset 0px 1px 0px 0px #a6827e;
    background: linear-gradient(to bottom, #531d40 5%, #240d1c 100%);
    background-color: #531d40;
    border-radius: 10px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 24px;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

.myButton:hover {
    background: linear-gradient(to bottom, #240d1c 5%, #531d40 100%);
    background-color: #240d1c;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.contact-me-anchor:hover {
    color: #e8b4a7;
}